<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>561281880823-0c216eskhu23qk2jdb35a0a0uoepn563.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.561281880823-0c216eskhu23qk2jdb35a0a0uoepn563</string>
	<key>API_KEY</key>
	<string>AIzaSyAVUQQandbclm9crY_Lq-Cad0Al5_PQ3Po</string>
	<key>GCM_SENDER_ID</key>
	<string>561281880823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Chat2.ios</string>
	<key>PROJECT_ID</key>
	<string>chat-8ca06</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-8ca06.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:561281880823:ios:45ea4078cc801c5d</string>
	<key>DATABASE_URL</key>
	<string>https://chat-8ca06.firebaseio.com</string>
</dict>
</plist>